<section>
    <article class="matheus-palma">      
        <div class="profile-about">
            <div class="profile-photo">
                    <img src="/assets/images/matheus-palma.jpg" title="Matheus Palma" alt="Matheus Palma's about"/>
                </div>
            <div class="profile-name">
                <h1> Matheus Palma </h1>
            </div>
            <div class="profile-job-title">
                <h2> FullStack Web developer </h2>
            </div>
            <div class="profile-contacts">
                <ul>
                    <li>
                        <a href="www.linkedin.com/in/matheus-palma" target="_blank">
                            <i class="fa fa-linkedin"></i>
                            <span> Likedin </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://github.com/mmatheuspalma" target="_blank">
                            <i class="fa fa-github"></i>
                            <span> Github </span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/mmatheuspalma" target="_blank">
                            <i class="fa fa-facebook"></i>
                            <span> Facebook </span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>